<!doctype html>
<div lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FORMULARIO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>


        <html>
	<head>
	    <title>Fondo de prueba</title>
	</head>

	<body background="https://img.freepik.com/foto-gratis/vista-aerea-conos-waffle-helado-fondo-rosa_181624-46779.jpg?w=2000" bgcolor="FFCECB">

	<table width="550" bgcolor=FFCECB align=center>
	<tr>

	</tr>
	</table>

	</body>
	</html>

<h1 align="center">Completar Datos</h1>
    <p align="center">Complete los datos para administrar la compra de materiales necesarios para la elaboracion de helados</p>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">No compartir datos privados con terceros</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
      <div id="emailHelp" class="form-text">Revisar la interaccion con teclas de mayuscula o numeros</div>
  </div>
  <div class="mb-3 form-check">
        <a class="btn btn-success" href="MateriaPrima" role="button">Aceptar</a>
      <a class="btn btn-danger" href="http://127.0.0.1:8000/heladeria" role="button">Regresar</a>
</form>

